@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Open-Sans&display=swap');

:root {
    --primary: #012970;
    --secondary: #4154f1;
    --orange: #ee6c20;
    --green: #15be56;
    --red: #bb0852;
    --blue: #2db6fa;
    --purple: #b50edf;
    --pink: #f51f9c;
    --white: #ffffff;
    --grey: #444444;
    --light-grey: #f2f5fc;
    --font-family-h: 'Nunito', sans-serif;
    --font-family-p: 'Open-sans', sans-serif;
    --border-radius: 8px;
    --box-shadow:1px 1px 30px -10px rgba(0, 0, 0, .7);
}

/***************** Reset CSS DEFAULT ***************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***************** STRUCTURE ***********************/

html, 
body {
    scroll-behavior: smooth;
    background: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-h);
    margin-bottom: .5em;
    line-height: 120%;
}

h1 {
    color: var(--primary);
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
    font-weight: initial;
    color: var(--primary);
}

h3 {
    font-size: 1em;
    color: var(--secondary);
    font-weight: lighter;
}

p {
    color: var(--grey);
    font-family: var(--font-family-p);
    font-weight: lighter;
    line-height: 130%;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: all .4s ease-in-out;
    font-family: var(--font-family-h);
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 2em;
}

section:not(:first-child) {
    margin: 2em auto;
}

p:not(:last-of-type), em {
    margin-bottom: 1em;
}

em {
    display: inline-block;
}

.btn {
    padding: 1em 1.5em;
    border-radius: var(--border-radius);
    border: none;
    color: var(--white);
    transition: all .4s linear;
}

.btn i {
    padding-left: .3em;
}

.btn:hover {
    background-color: var(--primary);
}

.btn-primary {
    background-color: var(--secondary);
}

img {
    width: 100%;
}

.card {
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    margin-bottom: 1.5em;
}

.slider-nav {
    color: var(--secondary);
    margin: 1.5em;
    text-align: center;
}
/**************** HEADER ****************/
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    transition: all .4s ease-in-out;
    padding: .5em;
}

.logo img {
    width: inherit;
}

.logo span {
    font-size: 2em;
    color: var(--primary);
    font-family: var(--font-family-h);
    letter-spacing: 3px;
    margin-left: .3em;
}

.nav-bg {
    background: var(--white);
    transition: .4s ease-in-out;
    box-shadow: var(--box-shadow);
}

.nav-list ul {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    gap: 0;
    transform: scaleY(0);
    transform-origin: top right;
    transition: transform .4s ease;
}

.nav-list ul.open {
    transform: scaleY(1);
    background: var(--secondary);
    margin-top: 1em;
    border-radius: var(--border-radius);
}

.nav-list ul li {
    padding: 1em;
    color: var(--white);
}

.link-burger {
    display: inline-block;
    padding-bottom: .6em;
}

.link-burger.open .navbar-burger {
    background: transparent;
}


.navbar-burger {
    display: inline-block;
    width: 25px;
    height: 3px;
    background: var(--secondary);
    border-radius: 5px;
    position: relative;
    transition: all .4s ease;
}

.navbar-burger::before,
.navbar-burger::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 3px;
    background: var(--secondary);
    border-radius: 5px;
    position: absolute;
    transition: all .4s ease;
}

.navbar-burger::before {
    top: -8px;
}

.navbar-burger::after {
    top: 8px;
}

.active {
    color: var(--secondary);
}

.link-burger.open .navbar-burger::before {
    top: 0;
    transform: rotate(45deg);
}

.link-burger.open .navbar-burger::after {
    top: 0;
    transform: rotate(-45deg);
}

.btn-nav {
    background: var(--primary);
}

@media screen and (min-width: 992px) {
   .nav-list ul {
    display: flex;
    flex-direction: row;
    position: inherit;
    transform: none;
   }

   .nav-list ul li {
    color: var(--primary);
   }

   .nav-list ul li a:hover {
    color: var(--secondary);
   }

   .btn-nav {
    background: var(--secondary);
   }

   .btn-nav:hover {
    background: var(--primary);
    color: var(--white) !important;
   }
   
    .link-burger{
        display: none;
    }
}

/**************** BANNER *****************/
.banner {
    background: top center no-repeat url(../img/hero-bg.png);
    background-size: cover;
    text-align: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;
}

.banner-content-text {
    margin-top: 5em;
}

.banner-content-text h2 {
    color: var(--grey);
}

.banner-content-img img {
    margin-top: 3em;
}

@media screen and (min-width: 992px) {
    .banner {   
        width: 100%;
        text-align: start;
        padding: 60px;
    }

    .banner-content {
        flex-direction: row;
    }

    .banner-content-text {
        width: 60%;
    }

    .banner-content-text h1 {
        font-size: 3em;
    }
}

/*************** ABOUT *****************/
.about-content-desc {
    background: var(--light-grey);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

@media screen and (min-width: 992px) {
    .about-content {
        display: flex;
    }

    .about-content-desc {
        width: 70%;
        height: 30%;
        margin-top: 4em;
    }
}

/************** VALUES *****************/
.values-content {
    text-align: center;
}

.values-content-elements {
    margin-top: 3em;
}

.values-content-card {
    padding: 2em;
}

.values-content-card-img {
    transition: all .4s ease-in-out;
}

.values-content-card-img,
.values-content-card-desc  {
    margin-top: 2em;
}

.values-content-card:hover .values-content-card-img {
    transform: scale(.9);
}

.values-icon-card {
    margin-top: 8em;
}

.values-icon-card-elements {
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding: 2em;
    margin-bottom: 1.5em;
}

.smile,
.book,
.headset,
.user {
    font-size: 3em;
    padding-right: .5em;
}

.smile {
    color: var(--secondary);
}

.book {
    color: var(--orange);
}

.headset {
    color: var(--green);
}

.user {
    color: var(--red);
}

.values-icon-card-count {
    text-align: start;
}

.values-icon-card-count h2 {
    font-size: 2em;
}

@media screen and (min-width: 992px) {
    .values-content-elements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }

    .values-icon-card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
    }
}

/************* FEATURES ****************/
.features-content {
    text-align: center;
}

.features-elements {
    margin-top: 2em;
}

.features-elements-cards {
    margin-top: 3em;
    padding: 1.8em;
}

.features-elements-cards:hover i {
    background: var(--secondary);
    color: var(--white);
}

.features-elements-cards-content {
    display: flex;
    align-items: center;
}

.features-elements-cards-content i {
    background: var(--light-grey);
    padding: .6em;
    border-radius: var(--border-radius);
    transition: all .4s ease-in-out;
}

.features-elements-cards-content h2 {
    margin: auto .5em;
    font-size: 1.2em;
}

.second-features-elements {
    margin-top: 8em;
}

.second-features-elements-text {
    text-align: start;
    margin-bottom: 2em;
}

.onglets {
    display: flex;
    gap: 1em;
    border-bottom: 2px solid var(--light-grey);
    margin: 1.5em auto;
}

.onglets h2 { 
    font-size: 1em;
}

.onglets-active {
    color: var(--secondary);
}

.check-title {
    display: flex;
    gap: 1em;
    align-items: center;
}

.check-title i {
    font-size: 1.3em;
    color: var(--secondary);
}

.check-title h2 {
    font-size: 1.2em;
}

.last-features-elements {
    margin: 5em auto;
}

.last-features-elements-img {
    width: 80%;
    margin: 2em auto;
}

.last-features-text-content {
    display: flex;
    text-align: start;
    gap: 1em;
    margin-bottom: 3em;
}

.last-features-text-content i {
    font-size: 2.5em;
    color: var(--secondary);
}

@media screen and (min-width: 992px) {
    .features-elements {
        display: flex;
    }

    .features-card-grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 85%;
        margin-left: 1em;
    }

    .features-elements-img {
        width: 70%;
    }

    .features-elements-cards {
        margin: auto 1em;
        padding: 1.5em;
    }

    .second-features-elements {
        display: flex;
        gap: 2em;
    }

    .second-features-elements-text {
        width: 90%;
    }

    .second-features-elements-img {
        width: 85%;
    }

    .last-features-content {
        display: flex;
    }

    .last-features-elements-img {
        width: 55%;
    }

    .last-features-text-content {
        margin-bottom: 0;
    }

    .last-features-elements-text {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 4em;
        gap: 1.5em;
    }
}

/*************** SERVICES *****************/
.services-content {
    text-align: center;
}

.services-elements {
    margin-top: 5em;
}

.services-elements-card {
    padding: 2em;
    margin-bottom: 2em;
}

.services-elements-card h2 {
    color: #000;
}

.services-elements-card,
.services-elements-card h2,
.services-elements-card p {
    transition: all .4s ease-in-out;
}

.services-elements-card:hover h2,
.services-elements-card:hover p,
.services-elements-card:hover .btn-card {
    color: var(--white);
}

.services-elements-card i {
    font-size: 2em;
    padding: 0.7em;
    margin-bottom: 1em;
    border-radius: var(--border-radius);
    transition: all .4s ease-in-out;
}

.services-elements-card:hover i {
    background: var(--white);
}

.btn-card {
    margin-top: 2em;
}

.btn-card i {
    font-size: unset;
    background: none !important;
}

.blue-card {
    border-bottom: 5px solid var(--blue);
}

.blue-card i {
    background: #d8f2ff;
}

.blue-card,
.btn-blue {
    color: var(--blue);
}

.blue-card:hover {
    background: var(--blue);
}

.orange-card {
    border-bottom: 5px solid var(--orange);
}

.orange-card i {
    background: #ffe1d0;
}

.orange-card,
.btn-orange {
    color: var(--orange);
}

.orange-card:hover {
    background: var(--orange);
}

.green-card {
    border-bottom: 5px solid var(--green);
}

.green-card i {
    background: #b1ffcf;
}

.green-card,
.btn-green {
    color: var(--green);
}

.green-card:hover {
    background: var(--green);
}

.red-card {
    border-bottom: 5px solid var(--red);
}

.red-card i {
    background: #ffc3dc;
}

.red-card,
.btn-red {
    color: var(--red);
}

.red-card:hover {
    background: var(--red);
}

.purple-card {
    border-bottom: 5px solid var(--purple);
}

.purple-card i {
    background: #f2bcff;
}

.purple-card,
.btn-purple {
    color: var(--purple);
}

.purple-card:hover {
    background: var(--purple);
}

.pink-card {
    border-bottom: 5px solid var(--pink);
}

.pink-card i {
    background: #ffc0e5;
}

.pink-card,
.btn-pink {
    color: var(--pink);
}

.pink-card:hover {
    background: var(--pink);
}

@media screen and (min-width: 992px) {
    .services-elements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
    }
}

/************ PRICING *****************/
.pricing-content {
    text-align: center;
}

.pricing-elements-card {
    padding: 3em;
    margin-top: 3em;
    transition: all .4s ease-in-out;
    position: relative;
    overflow: hidden;
}

.pricing-elements-card:hover {
    transform: scale(1.1);
}

.pricing-elements-card h3 {
    margin-bottom: 2em;
    font-weight: bold;
}

.turquoise-title {
    color: #07d5c0;
}

.green-title {
    color: var(--green);
}

.orange-title {
    color: var(--orange);
}

.pink-title {
    color: var(--pink);
}

.pricing-elements-card p {
    color: var(--grey);
}

.pricing-elements-card span {
    color: #000;
    font-size: 2em;
    margin-top: 0em;
    font-weight: bold;
    padding: .1em;
}

.pricing-elements-card-img {
    margin-top: 1em;
}

.pricing-elements-card-desc {
    margin: 1em auto;
}

.pricing-elements-card-desc .disable {
    color: var(--light-grey);
}

.btn-pricing {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 50px;
    padding: .7em 0;
    width: 70%;
    margin: auto;
    transition: all .4s ease-in-out;
}

.btn-pricing:hover {
    background: var(--secondary);
    color: var(--white);
}

.featured {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-family: var(--font-family-p);
    font-weight: lighter;
    font-size: 14px !important;
    padding: 10px 0 3px 0 !important;
    background: #4154f1;
    color: #fff !important;
}

@media screen and (min-width: 992px) {
    .pricing-elements {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
    }
}

/**************** FAQ ******************/
.faq-content {
    text-align: center;
    margin-top: 5em;
}

.faq-elements {
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin: 2em auto;
    padding-bottom: 1em;
    width: 95%;
}

.faq-elements:not(:last-child) {
    border-bottom: 2px solid var(--light-grey);
}

.faq-elements p {
    font-weight: bold;
}

@media screen and (min-width: 992px) {
    .faq-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }
}

/*************** PORTFOLIO *****************/
.portfolio-content {
    text-align: center;
    margin-top: 5em;
}

.btn-onglets {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 2em auto;
    align-items: center;
}

.active-btn {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: .5em 1em;
    border-radius: 50px;
}

.btn-onglets a:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: .5em 1em;
    border-radius: 50px;
}

.portfolio-img img {
    margin-bottom: 1em;
    transition: all .4s ease-in-out;
}

.portfolio-img img:hover {
    opacity: .5;
}

@media screen and (min-width: 992px) {
    .portfolio-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }
}

/************** TESTIMONIALS ****************/
.testimonials-content {
    text-align: center;
    margin-top: 5em;
}

.testimonials-elements {
    margin-top: 3em;
}

.testimonials-elements-card {
    padding: 1em;
}

.testimonials-note {
    margin: 1em;
    color: gold;
}

.testimonials-card-img {
    width: 35%;
    margin: 1em auto;
  }

.testimonials-card-img img {
    border-radius: 50%;
}

.card-desktop {
    display: none;
}

@media screen and (min-width: 992px) {
    .testimonials-elements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }

    .card-desktop {
        display: block;
        opacity: .3;
    }
}

/************** TEAM *****************/
.team-content {
    text-align: center;
    margin-top: 5em;
}

.team-elements-card {
    margin: 3em auto;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.team-elements-card:hover {
    transform: scale(1.1);
}

.team-card-img {
    position: relative;
}

.team-card-design img {
    position: absolute;
    bottom: 1.5%;
    right: 0;
}

.team-card-text {
    margin-top: 1em;
    padding: 1em;
}

.team-card-text span {
    font-family: var(--font-family-h);
    color: var(--grey);
}

.team-card-text p {
    margin-top: 1em;
}

@media screen and (min-width: 992px) {
    .team-elements {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2em;
    }
}

/********************* CLIENTS **********************/
.clients-content {
    text-align: center;
    margin-top: 5em;
}

.clients-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    opacity: 0.4;
    width: 80%;
    margin: 2em auto;
}

.clients-logo-desktop {
    display: none;
}

@media screen and (min-width: 992px) {
    .clients-logo {
        grid-template-columns: repeat(6, 1fr);
    }

    .clients-logo img {
         width: 70%;
    }

    .clients-logo-desktop {
        display: block;
    }
}